<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>Modelo Vista Controlador</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <h1><strong>Modelo Vista Controlador</strong></h1> 
        <div id="listDataStudent">
            <ul id ="listStudents" class="list-group list-group-numbered"></ul>
            </ul>
        </div>
        <template id="templateList">            
                <li class="list-group-item"></li>
        </template><br>       
        <button id="btnListar" class="btn btn-primary">Obtener Lista</button>
        
        <script type="module" src="./controller/controllerStudents.js"></script>
</div>
</body>
</html>